$z-element-: 1;
// All z-index varaible will be on one file .
// for understanding which Element containing upper z-index .

//  for example
$z-header: 2;
$z-footer: 3;
$z-ragistration-pop-up: 7;
//  like that .
